[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
scipy = "*"
pandas = "*"
numpy = "<2.0"
sweetviz = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.0"
